.nav {
    --bs-nav-link-color: #545B5A;
    --bs-nav-link-hover-color: #545B5A;
}

.table{
    --bs-table-striped-bg:#C0DFD9;
}

.navbar {
    position: fixed;
}

.carousel-indicators {
    position: relative;
    margin: 0;
}

.carousel-indicators [data-bs-target] {
    background-color: #545B5A;
    width: 3vw;
    height: 2vh
}

body{
    background-color: #E9ECE6;
}

nav {
    width: 100%;
    height: 10vh;
    background-color:#C0DFD9;
    padding-top: 5px;
    box-sizing: border-box;
    z-index: 2;
    .container-fluid{
        background-color: #C0DFD9;
    }
}

li.nav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color:#545B5A
}

.dogleg{
    width: 20%;
}


.navbar-brand{
    font-size: 150%;
}

.profile-content{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    margin-top:10vh
}

.profile-photo{
    border-radius: 50%;
    width: 25vh;
}

.profile-name{
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    margin-top:5vh;
}

.profile-university{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}


#about-content{
    text-align: center;
    padding: 0vh 10vw;
}

#skill-content{
    text-align: center;
    padding: 0vh 10vw;
}

table>tbody>tr>td{
    text-align: justify;
}

#works-content{
    text-align: center;
}

.detail {
display: block;
text-decoration: none;
border-bottom: 1px solid ;
}

.detail-link{
    padding:0 15vw;
}

h3.content-title{
    border-bottom: 5px solid #CAE3DA ;
    margin-bottom: 5vh;
}

.works{
    z-index: 1;
}

.d-block{
    width: 100%;
}
    

.twitter-id{
    padding: 5vh 0;
}

footer{
text-align: center;
}
    
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card{
    width: 35vw;
    margin: 0 auto;
}

.card-img-top{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.custom-btn {
    background-color: #C0DFD9; /* カスタムカラー */
    color: #ffffff; /* テキストカラー */
    border: none; /* ボーダーをなしにする */
}

.custom-btn:hover {
    background-color: #b4d8d0; /* ホバー時のカラー */
    color: #ffffff;
}
