nav {
    width: 100%;
    height: 70px;
    background-color: #CAE3DA;
    padding-top: 5px;
    box-sizing: border-box;
    position: fixed;
    }

    ul.menu {
    display: flex;
    list-style: none;
    margin: auto;
    }
    

    li.menu-main{
        font-size: 120%;
        list-style: none;
        margin: auto;
        float: left;
        text-align: left;
    }

    li.menu{
        list-style: none;
        margin: auto;
        float: left;
    }
    
    #profile-content{
        text-align: center;
    }

    #profile-content img{
        border-radius: 20%;
    }

    a {
    display: block;
    text-decoration: none;
    color: #000009;
    margin-right: 35px;
    }

    h3.content-title{
        border-bottom: 5px solid #CAE3DA ;
    }


    
    footer{
    text-align: center;
    }
    